mat-content {
	position: relative;
	margin: 0px;
	box-shadow: 0 0px 0px 0px;
	border-radius: 0px;
	border-width: 0px;
	transition: 350ms;
	border: 0px solid rgba(200, 200, 200, 0.38);
	padding: 8px;
}

mat-content.selected {
	background: rgba(0, 0, 0, 0.2);
}

:host(.layer-on-movement) mat-content {
	margin: 0 8px 8px;
	box-shadow: 0 4px 8px -4px;
	border-radius: 4px;
	border-width: 1px;
}

:host(.layer-on-movement) o-toggle-icon-button {
	display: none;
}

:host(.layer-on-movement) o-toggle-icon-button.drag-handle {
	display: initial;
}
