<o-side-menu #oSideMenu title="">
  <o-side-menu-group>
    <o-side-menu-item title="INTRODUCTION" icon="home" route="/main/home"></o-side-menu-item>
    <o-side-menu-separator></o-side-menu-separator>
    <o-side-menu-item title="BASIC" icon="map" route="/main/basic"></o-side-menu-item>
    <o-side-menu-separator></o-side-menu-separator>
    <div layout="row"><span class="side-menu-group-title" layout-padding>{{ 'LAYERS' | oTranslate }}</span></div>
    <o-side-menu-item title="MARKER"  route="/main/marker"></o-side-menu-item>
    <o-side-menu-item title="GEOJSON"  route="/main/geojson"></o-side-menu-item>
    <o-side-menu-item title="WMS" route="/main/wms"></o-side-menu-item>
  </o-side-menu-group>
</o-side-menu>