<div layout="column" layout-align="center top" layout-fill>

    <div layout="column" layout-padding layout-fill>
      <section class="playground-container md-whiteframe-4dp"
        [class.show-source]= "showSource">
        <md-toolbar class="playground-toolbar" color="primary">
          <span> {{ compName }}</span>
          <span flex></span>
          <button md-icon-button
                  aria-label="View Source"
                  (click)="showSource = !showSource">
            <md-icon class="md-24">code</md-icon>
          </button>
        </md-toolbar>

        <!-- Source views -->
        <md-tab-group *ngIf="showSource">
          <md-tab *ngFor="let file of orderedFiles" label="{{ file?.type | oTranslate }}">
              <div md-scroll-y class="playground-source-container">
                <highlight-comp [template-content]="file.data" [template-type]="file.type" ></highlight-comp>
              </div>
          </md-tab>
        </md-tab-group>

        <!-- Live Demos -->
        <div><ng-content></ng-content></div>

      </section>

    </div>
</div>