<div class="o-flex-column o-flex-fill" style="justify-content:flex-end; align-items:center">
  <img src="assets/images/ontimize_web_log.png">
  <span class="info">Web application framework based on Angular for building business software.</span>
  <mat-divider></mat-divider>
  <span class="info">ontimize-web&#64;imatia.com</span>

  <div class="o-flex-row info-container" style="justify-content:space-evenly; align-items:stretch">

    <div class="o-flex-row o-flex-grow" style="justify-content:flex-end; align-items:stretch">
      <div class="o-flex-column o-layout-align-start-center">
        <span class="info-title">Links:</span>
        <div class="o-flex-row links o-layout-align-center-center o-flex-grow" style="gap:16px">
          <a href="https://github.com/OntimizeWeb" aria-label="GitHub Repository" target="_blank">
            <img src="./assets/images/github.svg" class="mat-icon">
          </a>
          <a href="https://ontimizeweb.github.io/docs/" aria-label="OntimizeWeb Docs" target="_blank">
            <img src="./assets/images/ontimize.png" class="mat-icon-ontimize">
          </a>
        </div>
      </div>
    </div>

    <div class="o-flex-row o-layout-align-start-center o-flex-grow">
      <div class="o-flex-column dependencies o-flex-grow" style="justify-content:center; align-items:flex-start">
        <span class="info-title">OntimizeWeb modules:</span>
        <span>ontimize-web-ngx&#64;{{ vCore }}</span>
        <span>ontimize-web-ngx-map&#64;{{ vMap }}</span>
      </div>
    </div>

  </div>

</div>
