<div fxLayout="column" fxLayoutAlign="center top">
  <example-comp comp-name="LAYERS.GEOJSON.BASIC_USAGE" [files]="getFiles()" fxFlex="100">
    <o-map #oMapGeoJSON center="42.940599, -7.120727" zoom="8" min-zoom="3" max-zoom="20" zoom-control="yes"
      search-control="no" layer-panel-visible="no" fxFlex>
      <o-map-layer layer-type="geoJSON" layer-service="geojson-train-lines" layer-id="train-lines"
        layer-menu-label="Train lines" layer-menu-label-secondary="Spain's' train lines."></o-map-layer>
      <o-map-layer layer-type="geoJSON" layer-service="geojson-train-stations" layer-id="train-stations"
        layer-menu-label="Train stations" layer-menu-label-secondary="Spain's train stations."></o-map-layer>
      <o-map-layer layer-type="geoJSON" layer-service="geojson-municipality" layer-id="municipality"
        layer-menu-label="Municipality" layer-menu-label-secondary="Pontevedra's municipalities"
        [layer-options]="getTrainLinesLayerStyle()"></o-map-layer>
    </o-map>
  </example-comp>
</div>