<!--<md-content class="workspace-controls">##Controles</md-content>-->
<md-content [class.workspace-layer-list]="wsMapLayers && wsMapLayers.length > 0" [dragula]='"layer-bag"' [dragulaModel]='wsMapLayers'>
    <o-map-workspace-layer *ngFor="let layer of wsMapLayers"
        [layer-selected]="layer.selected"
        [layer-visible]="layer.visible"
        [layer-in-ws]="layer.inWS"
        [layer-menu-label]="layer.menuLabel"
        [layer-menu-label-secondary]="layer.menuLabelSecondary"
        [layer-ref]="layer"
    ></o-map-workspace-layer>
</md-content>