<!--<mat-content class="workspace-controls">##Controles</mat-content>-->
<mat-content [dragula]='"layer-bag"' [dragulaModel]='oSearchableCollection'>
	<o-map-workspace-layer *ngFor="let layer of oSearchableCollection"
		[layer-selected]              = "layer.selected"
		[layer-visible]               = "layer.visible"
		[layer-in-ws]                 = "layer.inWS"
		[layer-menu-label]            = "layer.menuLabel"
		[layer-menu-label-secondary]  = "layer.menuLabelSecondary"
		[layer-ref]                   = "layer"
		(onToggleSelected)            = "onWSLayerSelected($event)"
		(onToggleVisibility)          = "onWSLayerVisibilityToggled($event)"
		(onToggleInWS)                = "onWSLayerInWSToggled($event)">
	</o-map-workspace-layer>
</mat-content>
