@import 'node_modules/@angular/material/theming';

@mixin main-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .main-sidenav {
    mat-sidenav {
      background-color: mat-color($primary);
      color: mat-color($primary, default-contrast);
    }
  }

}