.o-app-sidenav .application-sidenav-container .mat-sidenav.application-sidenav-sidenav {
  padding-top: 5px!important;
}

.mat-sidenav-closed {
  o-app-sidenav-image .application-sidenav-image-container .application-sidenav-image {
    margin-left:auto;
    margin-right: -10px;
  }
}