.main-container {
  position: absolute;
  top: 64px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: auto;
}

.main-sidenav {
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);
}

md-sidenav {
  width: 250px;
  .md-sidenav-content{
    overflow: hidden;
  }

}

.navigation-toolbar {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.version {
  padding: 8px;
  font-size: 0.85em;
  cursor: default;
}