<div fxLayout="column" fxLayoutAlign="center top" fxFill>

  <div fxLayout="column" layout-padding fxFill>
    <section fxLayout="column" class="playground-container mat-elevation-z4" [class.show-source]="showSource">
      <md-toolbar class="playground-toolbar" color="primary">
        <span> {{ compName }}</span>
        <span fxFlex></span>

        <button *ngIf="!collapsed && orderedFiles && orderedFiles.length" md-icon-button aria-label="View Source" (click)="toggleShowSource()">
          <md-icon class="mat-24">code</md-icon>
        </button>

        <button *ngIf="collapsible" md-icon-button aria-label="Collapse" (click)="collapsed = !collapsed">
          <md-icon *ngIf="!collapsed" class="mat-24">keyboard_arrow_up</md-icon>
          <md-icon *ngIf="collapsed" class="mat-24">keyboard_arrow_down</md-icon>
        </button>

      </md-toolbar>

      <!-- Source views -->
      <md-tab-group *ngIf="showSource">
        <md-tab label="{{ 'html' | uppercase }}" *ngIf="hasTplData('html')">
          <highlight-comp [template-content]="html ? html : getTplData('html')" [template-type]="html"></highlight-comp>
        </md-tab>
        <md-tab label="{{ 'scss' | uppercase }}" *ngIf="hasTplData('scss')">
          <highlight-comp [template-content]="getTplData('scss')" [template-type]="scss"></highlight-comp>
        </md-tab>
        <md-tab label="{{ 'typescript' | uppercase }}" *ngIf="hasTplData('typescript')">
          <highlight-comp [template-content]="getTplData('typescript')" [template-type]="typescript"></highlight-comp>
        </md-tab>
      </md-tab-group>

      <!-- Live Demos -->
      <div fxFlex="grow" [class.collapsed]="collapsed" [class.collapsible]="collapsible">
        <ng-content></ng-content>
      </div>

    </section>

  </div>
</div>