.example-comp {
  .playground-source-container {
      display: block;
      height: 300px;
      overflow: hidden;
      overflow-y: auto;
    }

  .collapsible {
    overflow: hidden;
    -webkit-transition: max-height 1.8s;
    -moz-transition: max-height 1.8s;
    transition: max-height 1.8s;
    max-height: 2500px;
    &.collapsed {
      max-height: 0px;
    }
  }

  .o-form form.inner-form {
    position: relative;
    padding-top: 8px;
  }
}