@use '@angular/material'as mat;

@mixin example-component-theme($theme) {
  $primary: map-get($theme, color, primary);
  $accent: map-get($theme, color, accent);
  $warn: map-get($theme, color, warn);
  $background: map-get($theme, color, background);
  $foreground: map-get($theme, color, foreground);

  .example-comp {
    &>section {
      background: #fafafa;

      .playground-toolbar.mat-toolbar {
        background: #eeeeee;
        color: #212121;
        border-bottom: 1px solid #e0e0e0;

        .comp-description {
          color: #616161;
        }
      }

      .comp-note {
        p {
          mat-icon {
            color: mat.get-color-from-palette($primary, 0.84);
          }
        }
      }

      .playground-tabs {
        border-bottom: 1px solid #e0e0e0;
      }
    }
  }
}