@charset "UTF-8";
figure blockquote {
  font-size: 1em;
  font-style: italic;
  line-height: 1.5;
  border-left: 0.5em solid #DDD;
  padding-left: 4px;
  margin: 1.5em 0px .75em 0em; }

/* Quotes for two levels of nested quotations */
q {
  quotes: '“' '”' '‘' '’'; }

/* extra content definitions for pre-2011 WebKit */
q:before {
  content: '“';
  content: open-quote; }

q:after {
  content: '”';
  content: close-quote; }

q q:before {
  content: '‘';
  content: open-quote; }

q q:after {
  content: '’';
  content: close-quote; }

/* q in blockquote */
blockquote q:before {
  content: '‘';
  content: open-quote; }

blockquote q:after {
  content: '’';
  content: close-quote; }

blockquote q q:before {
  content: '“';
  content: open-quote; }

blockquote q q:after {
  content: '”';
  content: close-quote; }

/* hanging opening quote */
blockquote:before {
  display: block;
  height: 0;
  content: "“";
  margin-left: -.8em;
  font: italic 400%/1 Cochin,Georgia,"Times New Roman", serif;
  color: #999; }
