<div fxLayout="row" fxLayoutAlign="center start" layout-margin>
  <example-comp [comp-name]="getId()" [files]="getFiles()" fxFlex="85">
    <div fxLayout="row" fxFlexFill fxLayoutAlign="start center">
      <o-map #oMapMarker center="42.940599, -7.120727" zoom="8" min-zoom="3" max-zoom="20" zoom-control="yes" search-control="no"
        layer-panel-visible="no" fxFlex>
        <o-map-layer layer-type="marker" layer-id="office_marker" layer-center="42.240599;-8.720727" layer-menu-label="Office headquarters "
          layer-menu-label-secondary="Location of office headquarters"></o-map-layer>
      </o-map>
    </div>
    <div class="body-text-container" layout-padding>
      <h2>Adding marker layer</h2>
      <p class="body-text">
        It is possible to add markers to our map in the map definition itself.
      </p>
    </div>
  </example-comp>
</div>