pre.no-margin{
  margin: 0 !important;
  white-space: pre;
  
  code {
    min-height: 300px;
    margin: 0;
  }
}

.snippet {
    position: relative;

  .copy-btn {
    position: absolute;
    right: 12px;
    top: 12px;
    z-index: 1;
  }

  code.highlight {
    background: white;
    font-family: 'Inconsolata', monospace;
    bottom: 0;

    span {
      font-family: 'Inconsolata', monospace;
    }
  }
}
