.snippet {


  .hljs {
    position: absolute;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    padding-top: 0;
  }

  .copy-btn {
    position: absolute;
    right: 12px;
    top: 12px;
    z-index: 1;
  }

  code.highlight {
    background: white;
    font-family: 'Inconsolata', monospace;
    bottom: 0;

    span {
      font-family: 'Inconsolata', monospace;
    }
  }
}