<div layout="row" layout-padding layout-wrap ng-cloak>
  <md-whiteframe class="md-whiteframe-2dp" class="search-panel on-map md-whiteframe-5dp" layout="row" layout-align="left center">
    <input id="place-input" class="on-map" type="text" flex="100" placeholder="Enter a place to go..."
      [(ngModel)]="address" (keyup.enter)="goto()">

    <button md-button id="goto" class="md-button md-primary" href="#" title="Goto Place" (click)="goto()">
        <i class="material-icons">directions</i>
    </button>
  </md-whiteframe>
</div>




