.search-panel{
  height: 48px;
  width: 500px;
  background: white;
  border-radius: 4px;
}

input {
    border: none;
    font-size: 16px;
    color: #8e8e8e;
    padding: 0.1em 0.25em;
    outline: none;
}

button {
  width: 54px;
  height: 48px;
  min-width: initial;
  
  i {
    line-height: 48px;
  }
}
