.search-result {
    font-size: 14px;
}

button {
    width: 54px;
    height: 48px;
    min-width: initial;
    padding: 0;
}

.material-icons {
    width: 48px;
    line-height: 48px;
    text-align: center;
}

.sub-label {
    font-size: 0.8em;
}