<div class="search-result" layout="row">
    <i class="material-icons" *ngIf="searchResult.icon">{{searchResult.icon}}</i>
    <div flex layout="column" layout-align="center start">
        <span *ngIf="searchResult.label">{{searchResult.label}}</span>
        <span class="sub-label" *ngIf="searchResult.sublabel">{{searchResult.sublabel}}</span>
    </div>
    <button *ngFor="let button of searchResult.buttons" md-button class="md-button md-primary" (click)="button.callback()">
        <i class="material-icons">{{button.icon}}</i>
    </button>
</div>