<div
	layout="row" layout-padding layout-wrap ng-cloak>
	<md-whiteframe class="search-panel on-map md-whiteframe-2dp"
		layout="row" layout-align="left center">
		<button md-button class="md-button"
			(click)="toggleSidenav()">
			<i class="material-icons">menu</i>
		</button>
		<input id="place-input" class="on-map" type="text" flex
			[placeholder]="getText('SEARCH_PLACEHOLDER')"
			[(ngModel)]="address"
			(blur)="onBlur()" (click)="onFocus()">
	</md-whiteframe>
</div>
<div *ngIf="searchResults.length > 0"
	layout="row" layout-padding layout-wrap ng-cloak>
	<md-whiteframe class="search-results on-map md-whiteframe-2dp" flex
		layout="column" layout-align="left center"
		[class.rendered]="rendered">
		<o-navigator-item *ngFor="let item of searchResults"
			[search-result]="item.oSearchResult">
		</o-navigator-item>
	</md-whiteframe>
</div>
