<md-sidenav-layout layout="row" layout-fill>

  <md-sidenav id="layers" name="layers" #sidenav mode="side" layout="column" layout-align="start stretch">
  
    <md-toolbar class="md-theme-indigo">
      <div layout="row" layout-align="center center">
        <span class="md-toolbar-tools" flex>Capas</span>
        <button md-button (click)="toggleSidenav()" aria-label="Close">
          <md-icon>navigate_before</md-icon>
        </button>
      </div>
    </md-toolbar>

    <o-map-layer-group #mainLayerGroup class="group-ref">
      <ng-content></ng-content>
    </o-map-layer-group>

    <md-toolbar class="md-theme-indigo">
      <div layout="row" layout-align="center center">
        <span class="md-toolbar-tools" flex>Espacio de trabajo</span>
      </div>
    </md-toolbar>

    <o-map-workspace #oMapWorkspace flex></o-map-workspace>
  </md-sidenav>

  <md-content layout-fill>
    <div layout="column" layout-fill layout-align="top center">
      <div id="map">
      </div>
      <div layout="row" layout-align="center center">
        <navigator *ngIf="searchControl"></navigator>
      </div>
    </div>
  </md-content>
</md-sidenav-layout>