<!--
	TODO replace this div with o-frame if it goes into the framework
	Frame to create the sidebar
-->
<mat-sidenav-container fxFlexFill>
  <mat-sidenav #sidenav id="layers" name="layers" mode="side" [opened]="isSidenavVisible">
    <div fxLayout="column" fxFlexFill fxLayoutAlign="start stretch">
      <!--
        Header for Layer Base
      -->
      <mat-toolbar class="base-layers">
        <span fxFlex>{{ getText('MAP_BASE_LAYERS') }}</span>
        <button mat-button aria-label="Close" (click)="toggleSidenav()">
          <mat-icon>navigate_before</mat-icon>
        </button>
      </mat-toolbar>
      <!--
        TODO replace this div with o-grid if it goes into the framework
        Block with a grid of Base Layers
      -->
      <div class="o-map-base-layer-group group-ref">
        <o-map-base-layer #mainBaseLayerGroup *ngFor="let baseLayer of baseLayers" [layer-id]="baseLayer.id" [title]="baseLayer.name"
          [src]="baseLayer.urlTemplate" [active]="baseLayer.active"></o-map-base-layer>
      </div>
      <!--
        Header for Layers
      -->
      <mat-toolbar class="layers">
        <span fxFlex>{{ getText('MAP_LAYERS') }}</span>
      </mat-toolbar>
      <!--
        TODO replace this div with o-tree-list if it goes into the framework
        Block with a hierarquical list of Layers and LayerGroups
      -->
      <div class="group-ref">
        <ng-content></ng-content>
        <o-map-layer-group class="o-map-layer-group" #mainLayerGroup></o-map-layer-group>
      </div>

      <!--
        Header for Workspace
      -->
      <mat-toolbar class="workspace-layers">
        <span fxFlex>{{ getText('MAP_WORKSPACE_LAYERS') }}</span>
      </mat-toolbar>
      <!--
        TODO replace this div with o-list if it goes into the framework
        Block with a simple list of WorkspaceLayers
      -->
      <!-- <o-map-workspace #oMapWorkspace fxFlex -->
      <o-map-workspace #oMapWorkspace (onToggleWSLayerSelected)="onWSLayerSelected($event)" (onToggleWSLayerVisibility)="onWSLayerVisibilityToggled($event)"
        (onToggleWSLayerInWS)="onWSLayerInWSToggled($event)"></o-map-workspace>
    </div>
  </mat-sidenav>
  <!--
		TODO o-frame sidebar container
		Map Section
	-->
  <div fxLayout="column" fxLayoutAlign="top start" fxFlexFill>
    <!--
      Map container for Leaflet
    -->
    <div [id]="mapId" class="leaflet-map-container"></div>
    <!--
      Omnibar o-navigator
    -->
    <div *ngIf="isNavigatorVisible" fxLayout="row" fxLayoutAlign="start center">
      <o-navigator [show-search-input]="searchControl" [show-sidenav-button]="isSearchControlButtonVisible"></o-navigator>
    </div>
  </div>
</mat-sidenav-container>