<div layout-padding fxFlex="80">
  <div layout-padding>
    <h2>What is Ontimize Web Map?</h2>
    <p class="body-text">
      Ontimize Web Map is a module that allows to you to integrate maps into an Ontimize Web application.
    </p>
    <p class="body-text">
      Ontimize Web Map is based on Leaflet libraries.
    </p>
  </div>

  <div layout-padding>
    <h2>Keep up to date</h2>
    <p class="body-text" style="margin-bottom:0px;">
      Please refer to our changelog for up-to-date listings of all improvements and breaking changes.
    </p>
    <div fxLayout="row" fxLayoutAlign="center">
      <a class="changelog" href="https://github.com/OntimizeWeb/ontimize-web-ngx-map/blob/master/CHANGELOG.md"
        target="_blank">
        <div layout-padding fxLayout="row" fxLayoutAlign="center">
          <mat-icon class="mat-48">access_time</mat-icon>
          <span>CHANGELOG</span>
        </div>
      </a>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div layout-padding>
    <h2>Related topics</h2>
    <p class="body-text">
      Here are some interesting reading topics that can help you better understand how to develop with Ontimize Web.
    </p>

    <div fxLayout="row" fxLayoutAlign="start center">
      <h5>Leaflet</h5>
      <a href="http://leafletjs.com/" target="_blank">
        <mat-icon>launch</mat-icon>
      </a>
    </div>
    <p class="body-text">
      Leaflet is the leading open-source JavaScript library for interactive maps. Leaflet is designed with simplicity,
      performance
      and usability in mind. It works efficiently across all major desktop and mobile platforms, can be extended with
      lots
      of plugins, has a beautiful, easy to use and well-documented API and a simple, readable source code that is a joy
      to
      contribute to.
    </p>

    <div fxLayout="row" fxLayoutAlign="start center">
      <h5>Leaflet 1.0.0 api reference</h5>
      <a href="http://leafletjs.com/reference-1.0.0.html" target="_blank">
        <mat-icon>launch</mat-icon>
      </a>
    </div>
    <p class="body-text">
      Api reference for library version 1.0.0.
    </p>

  </div>

</div>