h5 {
  margin: 0.1em;
}

.changelog {
  text-decoration: none;
  padding: 8px;
  background-color: transparent;
  span{
    line-height: 1.5em;
    padding-left: 8px;
  }
}
.changelog:hover {
  background-color: rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}