<button md-button md-ink #layer
		layout="row" layout-align="space-around center"
		class="o-map-layer-item" (click)="toggleInWS()">
	<!--<img class="layer-icon" *ngIf="icon && icon.length>0" [src]="icon">-->
	<o-toggle-icon-button
		icon-dark="true"
		[icon-name]="icon && icon.length>0? icon : 'layers'"
		[button-active]="inWS">
	</o-toggle-icon-button>
	<div flex
		layout="column" layout-align="center start"
	>{{menuLabel || layerId}}<small *ngIf="menuLabelSecondary">{{menuLabelSecondary}}</small></div>
</button>
