<button md-button md-ink flex [class.collapsed]= "collapsed" *ngIf="description && description.length > 0"
	layout="row" layout-align="space-around center"
	(click)="toggleCollapse()">
	<!--<img class="layer-icon" *ngIf="icon && icon.length>0"[src]= "icon">-->
	<o-toggle-icon-button
		clickable="no"
		icon-dark="true"
		icon-name="folder"
		[button-active]= "hasChildInWS()">
	</o-toggle-icon-button>
	<span flex layout="row" layout-align="start center">{{description}}</span>
	<o-toggle-icon-button
		clickable="no"
		icon-dark="true"
		icon-name="keyboard_arrow_down">
	</o-toggle-icon-button>
</button>
<div class="group-list" [class.collapsed]= "collapsed" [class.expanded]= "!collapsed" flex
	layout="column" layout-align="space-between stretch">
	<o-map-layer-group flex ng-if="mapLayerGroups.all && mapLayerGroups.all.length > 0 " *ngFor="let layerGroup of getLayerGroups()"
		[group-id]						= "layerGroup.id"
		[group-id-parent]				= "layerGroup.idParent"
		[group-name]					= "layerGroup.name"
		[group-description]				= "layerGroup.description"
		[group-collapsed]				= "layerGroup.collapsed"
		[group-ref]						= "layerGroup">
	</o-map-layer-group>
	<o-map-layer flex ng-if="mapLayers && mapLayers.length > 0" *ngFor="let layerConf of mapLayers"
		[layer-radius]					= "layerConf.radius"
		[layer-service]					= "layerConf.service"
		[layer-base-url]				= "layerConf.baseUrl"
		[layer-selected]				= "layerConf.selected"
		[layer-visible]					= "layerConf.visible"
		[layer-in-ws]					= "layerConf.inWS"
		[layer-id]						= "layerConf.layerId"
		[layer-group-id]				= "layerConf.layerGroupId"
		[layer-type]					= "layerConf.type"
		[layer-popup]					= "layerConf.popup"
		[layer-popup-url]				= "layerConf.popupUrl"
		[layer-menu-label]				= "layerConf.menuLabel"
		[layer-menu-label-secondary]	= "layerConf.menuLabelSecondary"
		[layer-icon]					= "layerConf.icon"
		[layer-show-in-menu]			= "layerConf.showInMenu"
		[layer-center]					= "getLayerCenter(layerConf)"
		[layer-options]					= "layerConf.options">
	</o-map-layer>
</div>
<!--
	TODO
		[layer-points]					= "layer.points"
		[layer-bounds]					= "layer.bounds"
		[layer-options]					= "layer.options"
-->
